* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
    line-height: 1.6;
    color: #300b10;
     background-image: url(image/beauty1.webp);
     background-size: cover;
     background-position: center;
     font-style: oblique;
}

.container { 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation */
nav {
    padding: 20px 0;
    border-bottom: 1px solid #0f0404;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #bd1fa5;
}

.cta-nav {
    background: #bd1fa5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #6a747a 0%, #6a747a 100%);
    background-image: url('image/beauty1.jpg');
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #3a3c3e;
}

.subtitle {
    font-size: 1.25rem;
    color: #3a3c3e;
    max-width: 600px;
    margin: 0 auto 40px;
}

.signup-form {
    display: flex;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.signup-form input {
    flex: 1;
    min-width: 250px;
    padding: 15px;
    border: 2px solid #cbd5e1;
    border-radius: 8px;
    font-size: 16px;
}

.signup-form button {
    background: #bd1fa5;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.signup-form button:hover {
    background: #943586;
}

.small-text {
    color: #1c1a19;
    font-size: 0.875rem;
}
/* feature section */

.features {
    padding: 40px 10px;
    background: #f2f2f5;
    justify-content: center;
}

.features h2 {
    text-align: center;
    margin-bottom: 60px;
    color: #1e293b;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.feature-card {
    text-align: center;
}

.feature-card i {
    font-size: 2rem;
    color: #bd1fa5;
    margin-bottom: 20px;
}

.feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* about section */
.about {
    padding: 30px 10px;
    background: #f2f2f5;
}

.about h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e293b; 
}
.about p {
    max-width: 800px;
    margin: auto;
    font-size: medium;
     color: #1e293b;
}

/* Responsive */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }
    
    .signup-form {
        flex-direction: column;
    }
    
    .signup-form input {
        min-width: auto;
    }
}
